/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
 
}


.Tituloprimero{
  color: blue;
  height: 50px;
  width: 100%;
}

.TituloSegundo {
  color: pink;
  height: 50px;
  width: 100%;
}


